{% extends "layout.html" %}
{% block title %}公司说{% endblock %}
{% block body %}
      <div class="jumbotron">
        <!-- <h1>Title</h1> -->
        <p class="lead">我发现了新公司了！<a href="/addCompany">提交相关资料</a></p>
      </div>

	<mobile>
	<email>

	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>
					精彩评论<small></small>
				</h1>
			</div>
			{% for comment in list %}			
			<blockquote>
				<p>
					{{comment.contents}}<cite>--评论于{{comment.create_time}}</cite>
				</p> <small><a href="/company/{{comment.company.id}}">{{comment.company.name}}</a></small>
			</blockquote>
			{% endfor %}
		</div>
	</div>
{% endblock %}